/* <![CDATA[ */
* 
{
    margin:0;padding:0;
}
/*
body, html
{
    font-family: Arial;
    color:#000000;
    height: 100%;
    text-align:center;    
}
*/
form 
{
    margin-bottom: 0px;
}

#containertemplate
{
    width:100%;
    height:100%; 
    margin-left: auto;
    margin-right: auto;
    vertical-align:middle; 
    display:table;
    background-color:#FFFFFF;
    text-align:center;
}

#innercontainer
{
    display:table-cell;
    margin-left: auto;
    margin-right: auto;
}

#containerleftmenu
{
    width:250px; 
    height:100%; 
    margin-top:5px; 
    vertical-align:middle; 
    display:table; 
    background-color:#FFFFFF;
    text-align:left;
}

#maincontent
{
    width:800px;
    height:600px;
    position:relative;
    margin-top:5px;
    margin-left:10px;
    border-color:#0b5a9f;
    background-color:#FFFFFF;
    border-width:thin;
    border-style:solid;
    overflow-y:auto;
}

#logopane
{
    width:100%;
    height: 55px;
    background-color: #98F5FF;
}

#logo
{
    height:55px;
    width:100px;
    color: #FFFFFF;
}

#rightpane
{
    width:500px; 
    height:55px; 
    margin-top: -55px; 
    float:right; 
    margin-right: 10px;
    padding-top: 15px;
    padding-right: 15px;
    vertical-align: middle;
    text-align: right;
}

.menutitle 
{
    cursor:pointer;
    background-color: #98F5FF; 
    color:#0b5a9f;
    width:250px;
    padding:5px;
    text-align:left;
    font-size:1em;
    font-weight:bold;
    border:1px solid #0b5a9f;
}
        
.submenu
{
    height:55px; 
    cursor:pointer; 
    font-weight: bold;
    text-decoration: none;
    float:left; 
    position:relative; 
    padding: 2px;    
}

.linkmenu
{
    font-size:1.0em; 
    font-weight:bold; 
    text-decoration:none;
    color:#000000; 
    cursor:pointer; 
    margin-left:15px;	
    padding:3px;
    width:200px;
}

.linkmenuactive
{
    font-size:1.0em; 
    font-weight:bold; 
    text-decoration:none;
    color:#800517; 
    cursor:pointer; 
    margin-left:15px;	
    padding:3px;
    width:200px;
}

.linksmall
{
    text-decoration: none;
    color:#000000;
}

root { 
    display: block;
}

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
#loginheader
{
    color: #FFFFFF;
    background-color: #37A3C0;
    padding-right: 20px;
    text-align: right;
    height: 30px;
}

#loginheader a, #loginheader a:visited
{
    color: #FFFFFF;
    text-decoration: none;
}

.leftnavigationcontainer
{
    border-right: 1px solid #37A3C0;
    background-color: #A0EAFF;
    width: 250px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.maincontainer
{
    background-color: #A0EAFF;
}

.black_overlay {
   display: none;
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   background-color: black;
   z-index:1001;
   -moz-opacity: 0.8;
   opacity:.80;
   filter: alpha(opacity=80);
}
.white_content {
   display: none;
   position: absolute;
   top: 10%;
   left: 500px;
   width: 500px;
   height: auto;
   padding-bottom: 0px;
   border: solid #000000;
   background-color: white;
   z-index:1002;
   overflow: auto;
   margin-left:-5%;
}

.light-title{
    width: 100%;
    height: 27px;
    background-color: #98F5FF;
    top: 0px;
    color: black;
    padding-top: 5px;
    text-align: center;
}

.light-message{
    width: 100%;
    height: auto;
    background-color: white;
    top: 0px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.light-button{
    text-align: center;
    padding-bottom: 10px;
}

.content-page{
    height: 500px;
    overflow: scroll;
}

.table-list{
    border-collapse: collapse;
    /*margin: 15px;*/
    width: 100%;
    border: 2px;
    border-style: double;
    border-color: #FFFFFF;
    font-size: 10pt;
}

.table-list tr th{
    /*border-collapse: collapse;*/
    width: 100px;
    padding: 0;
    border: 2px;
    border-color: #FFFFFF;
    font-weight: bold;
    border-style-inner: double;
    border-bottom-style: double;
    border-left-style: double;
    border-right-style: double;
    border-top-style: double;
    background-color: #7AC5CD;
}

.evenrow td{
    border: 2px;
    background-color: #D1EEEE;
    border-color: #FFFFFF;
    border-style-inner: double;
    border-bottom-style: double;
    border-left-style: double;
    border-right-style: double;
    border-top-style: double;
    width: 150px;
}

.oddrow td{
    border: 2px;
    background-color: #F4F4F4;
    border-color:  #FFFFFF;
    border-style-inner: double;
    border-bottom-style: double;
    border-left-style: double;
    border-right-style: double;
    border-top-style: double;
    width: 150px;
}

.no-record td{
    border: 2px;
    background-color: #F4F4F4;
    border-color:  #FFFFFF;
    border-style-inner: double;
    border-bottom-style: double;
    border-left-style: double;
    border-right-style: double;
    border-top-style: double;
    text-align: center;
}
.form-search{
    padding-left: 60px;
}

.form-actions {
    float: right;
    width: 100%;
}

.form-button{
    float: right;
    width: auto;
}
.form-page{
    float: right;
    width: auto;
}

.form-add-account{
    width: 100%;
    padding: 10px;
    clear: both;
}

.form-add-account tr{
    width: 100%;
    padding: 10px;
    clear: both;
}

.form-add-account th{
    text-decoration: underline;
    text-align: left;
}

a{
    text-decoration: none;
}

.labelbold
{
    font-weight: bold;
}

.labelboldred
{
    font-weight: bold;
    color: red;
}

.table-data{
    width: 150px;
}
	
/* ]]> */

