/* 
    Document   : navigation.css
    Created on : 09 4, 11, 1:28:20 PM
    Author     : PHILWEB
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
#mainmenucontainer
{
    width: 200px;
    padding-top: 4%;
    padding-bottom: 1%;
}
#mainmenucontainer ul
{
    display: block;
    padding: 0px 0px 0px 0px;
    font-weight: bold;
}
#mainmenucontainer li
{
    display: block;
    font-size: 10pt;
    color: #FFFFFF;
    list-style-type:none;
    height: 25px;
    vertical-align: middle;
    margin-bottom: 5%;
    padding-left: 7%;
}
#mainmenucontainer #submenu a, #mainmenucontainer #submenu a:visited
{
    background-color: #f0ecec;
    display: block;
    color: #000000;
    text-decoration: none;
    padding-top: 1px;
    height: 20px;
    margin-top: 3%;
    font-weight: normal;
    border-bottom:solid #c2bfba 1px;
}
#mainmenucontainer #submenu a:hover
{
    display: block;
    height: 20px;
    color: #000000;
    padding-top: 1px;
}
#mainmenucontainer #submenu #selectedsubmenu  
{
    display: block;
    height: 26px;
    color: #000000;
    background-color: #fde794;
    font-weight: normal;
}


/*----------------------------- NAVIGATION TITLE -------------------------------*/
.navCont{
	width:100%;
	height:28px;
	margin: 0px 0 8px 8px;
}
.navCont_left{
	background:url(../images/title_left.png) 0 0 no-repeat;
	width:9px;
	height:28px;
	margin: 0px 0 0 0px;
	float:left;
}
.navCont_body{
	background:url(../images/title_body.png) 0 0 repeat-x;
	font:Normal 14px/24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
        font-weight: bold;
	width:180px;
	height:28px;
	margin: 0px 0 0 0px;
	padding: 0px 0 0 0;
	float:left;
}
.navCont_right{
	background: url(../images/title-right.png) 0 0 no-repeat;
	width:10px;
	height:28px;
	margin: 0px 0px 0 0px;
	margin-left: 93%;
        /*float: left;*/
}
/*----------------------------- END OF NAVIGATION TITLE ------------------------*/