/* 
    Document   : style.css
    Created on : 09 1, 11, 12:39:45 AM
    Author     : PHILWEB
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

/* for DataTable Control */
.reporttable
{
    background-color: #FFFFFF;
    width: 600px;
    
}

.reporttable td
{
    padding: 5px 5px 5px 5px;
    white-space: nowrap;
}

.reporttable td
{
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    border-color: #999999;
}

.bg_alternate
{
    background-color: #DBDBDB;
}

.bg_tableheader, .bg_tableheader a , .bg_tableheader td
{
    background-color: #6699CC;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#FFFFFF;
    font-weight: bold;
}

.bg_tableheader2, .bg_tableheader2 td
{
    background-color: #99CCFF;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    font-weight: bold;
    width: 100px;
    white-space: nowrap;
    background-image: url('../images/menubg.jpg');
    background-repeat: repeat-x;
}