body, table
{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10pt;

}

body
{
    background-color: #CCCCCC;
}

table
{
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

.topheader
{
    background-image: url('../images/blacktheme/header_bg_black.jpg');
    height: 100px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.navigation2
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 50px;
    color: #000000;
    /* background-image: url('../images/menubg.jpg'); */
    background-color: #000000;
    display: block;


}

.navigation2 ul
{
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: block;
}

.navigation2 ul li
{
    list-style: none;
    height: 50px;
    float: left;
    width: 290px;

    /* border-right: 1px solid #888888; */
}

.navigation2 ul li a
{
    padding: 15px 40px 0px 40px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    float: left;

    text-shadow: #000000 0px 1px;
    font-size: 16px;
}

.navigation2 ul li a:hover
{
    height: 35px;
    background-color: #666666;
}

.navigation2 .selected
{
    height: 35px;
    background-color: #666666;
}

/*
.navigation ul
{

    width: 900px;
}
*/
.contentcontainer
{
    width: 1000px;
    background-color: #FFFFFF;
    background-image: url('../images/blacktheme/content_topwide.jpg');
    background-repeat: no-repeat;
    background-position: top;
    vertical-align: top;

    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    border-radius: 4px;

}

.content
{
    text-align: left;
    padding: 10px 10px 10px 10px;
    vertical-align: top;

}

.contentleft
{
    width: 230px;
    display: inline-block;
    vertical-align: top;

}

.contentmidright
{
    width: 580px;
    display: inline-block;
    vertical-align: top;
    text-align: left;

}

.title
{
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;

    color: #333;
    font-weight: bold;
    text-shadow: 0px 1px 0px #BBB;
}

.bigtitle
{
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    color: #333333;


}

.breadcrumbs
{
    text-align: left;
    padding: 3px 0px 5px 5px;
    display: block;
    font-size: 14pt;
    font-weight: bold;
    color: #333333;
    text-shadow: 1px 1px 0 #FFFFFF;
}

.login
{
    height: 219px;
    background-image: url('../images/blacktheme/login_bg_black.jpg');
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
}

.login label
{
    display: inline-block;
    width: 90px;
    text-align: right;
}

.logininput
{
    display: inline-block;
    width: 100px;
}

.logingreen
{
    height: 219px;
    background-image: url('../images/blacktheme/left_green_bg.jpg');
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
}

.third
{
    width: 320px;
}

.half
{
    width: 450px;
}

.twothird
{
    width: 660px;
}

.whole
{
    width: 1000px;
}

.thirdpadded
{
    width: 300px;
}

.halfpadded
{
    width: 430px;
}

.twothirdpadded
{
    width: 620px;
}
.wholepadded
{
    width: 960px;
}

.formcontainer
{
    display: inline-block;
    vertical-align: top;
}

.formstyle
{
    height: 219px;
    background-image: url('../images/blacktheme/form_bg_black.jpg');
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
}

.formstyle2
{
    /*background-image: url('../images/blacktheme/form_bg_black.jpg');*/
    background-repeat: no-repeat;
    padding: 5px 5px 5px 15px;
    background-color: #EEEEEE;
}

.formstyle2 label
{
    display: inline-block;
    width: 50px;
    text-align: right;
}


.footerband
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 50px;
    background-color: #000000;
    display: block;
    color: #FFFFFF;
    text-align: center;
}

.footerband .footercontent
{
    display: inline-block;
    width: 500px;
    padding-top: 15px;
    text-align: center;
}

.sectiontitle
{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background-image: url('../images/blacktheme/sectiontitlebg.jpg');
    height: 20px;
    width: 580px;
    padding: 5px 20px 0px 20px;
    background-repeat: no-repeat;
    text-align: left;

}

.welcomesignout
{
    width: 202px;
    height: 20px; 
    background-image: url('../images/blacktheme/welcomesignout.jpg'); 
    color: #FFFFFF; 
    float:right; 
    font-size: 10px; 
    padding: 5px 5px 0px 5px;
    text-align: right;
}

.welcomesignout a
{
    color: #FFFFFF; 
}

.pad5
{
    padding: 5px 5px 5px 5px;
}

.information
{
    font-size: 11px;
}

.center
{
    text-align: center;
}

/* for DataTable Control */
.reporttable
{
    background-color: #FFFFFF;
    width: 600px;
}

.reporttable td
{
    padding: 5px 5px 5px 5px;
}

.reporttable td
{
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    border-color: #999999;
}

.bg_alternate
{
    background-color: #DBDBDB;
}

.bg_tableheader, .bg_tableheader a , .bg_tableheader td
{
    background-color: #6699CC;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#FFFFFF;
    font-weight: bold;
}

.bg_tableheader2, .bg_tableheader2 td
{
    background-color: #99CCFF;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    font-weight: bold;
    width: 100px;
    white-space: nowrap;
    background-image: url('../images/menubg.jpg');
    background-repeat: repeat-x;
}

.money
{
    text-align: right;
}

.nowrap
{
    white-space: nowrap;
}

.alertred
{
    background-color: #FF0000;
    color: #FFFFFF;
    font-weight: bold;
}

.alertgreen
{
    background-color: green;
    color: #FFFFFF;
    font-weight: bold;
}


.btnDefault
{
    font-size: 14px;
    background-color: #F6F6F6;
    background-image: url('../images/blacktheme/button_bg.png');
    height: 35px;
    width: 100px;
    border-style: none;
    text-shadow: 1px 1px 0 #FFFFFF;
    cursor: pointer;

    color: #4F4F4F;
    color: #333333;
    border: 1px solid #CCC;

    /* display: block; */
    line-height: 1.4;
    font-weight: bold;



}

.roundedcorners
{
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    border-radius: 4px;
}

.submenu
{
    /* background-image: url('../images/blacktheme/button_bg.png');
    background-position: 35px;
    padding: 5px 5px 5px 5px;
    */
    background-color: #F6F6F6;
    text-align: left;
    width: 1000px;
    height: 30px;
    margin-bottom: 5px;
}

.submenu a
{
    color: #4F4F4F;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.submenu a:hover
{
    color: #4F4F4F;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-decoration: underline;
}

.submenu .selected
{
    font-weight: bold;
}

.navigation
{
    padding: 0px 0px 0px 0px;
    height: 50px;
    color: #FFFFFF;
    background-color: #000000;
    display: block;
    text-align: center;
    border-bottom: solid #EEEEEE 1px;
}

.navigation ul
{
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    text-align: left;
    height: 50px;
}

.navigation ul li
{
    height: 50px;
    display: inline;
}

.navigation ul li a
{
    float:left;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: #000000 0px 1px;
    font-size: 16px;
    padding: 15px 20px 0px 20px;
}

.navigation ul li a:hover
{
    height: 35px;
    background-color: #EEEEEE;
    color: #333333;
    text-shadow: 1px 1px 0 #FFFFFF;
}

.navigation .selected
{
    height: 35px;
    background-color: #EEEEEE;
    color: #333333;
    text-shadow: 1px 1px 0 #FFFFFF;
}

.leftverticalnav
{
    list-style: none;
}

.leftverticalnav li
{
    padding: 3px 0px 3px 0px;
}

.leftverticalnav .linkbutton
{
    cursor: pointer;
    text-decoration: underline;
}