/* <![CDATA[ */
* 
{
    margin:0;padding:0;
}
/*
body, html
{
    font-family: Arial;
    color:#000000;
    height: 100%;
    text-align:center;    
}
*/

/*--------------------------------------------------------*/
.header{
    background-color: #dedede;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: auto;
}

.company_logo{
    margin-left: 1.2%;
    padding-top: 0.5%;
    width: auto;
}

.logout_panel{
    float: right;
    margin-top: -3%;
    margin-right: 2%;
    font-size: 12pt;
}

.project_logo{
    background-color: #a7820e;
    margin-left: auto;
    margin-right: auto;
}

.content_container{
    background-color: #ffc615;
    margin-left: auto;
    margin-right: auto;
    height: 355px;
}

.page_title{
    background-color: #a7820e;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    height: 30px;
    font-size: 11pt;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 1%;
    padding-left: 1%;
}

.container{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}

.leftnavigationcontainer
{
    width: 220px;
    height: auto;
    background-color: #FFFFFF;
    margin-left: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.maincontainer
{
    margin-top: 0.7%;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 1%;
    padding-top: 0.3%;
    width: auto;
    height: auto;
    background-color: #FFFFFF;
    border: 10px solid #ffc615;
}

.footer{
    width:auto;
    color: #000000;
    padding-left: 1%;
    padding-top: 1%;
    height: 25px;
    font-size: 10pt;
    background-color: #a7820e;
}
/*-------------------------------------------------------------------------*/

.login-form{
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.5%;
    width: 300px;
    padding: 20px;
    border: #009999;
    border-width: 2px;
    border-style: solid;
}

.center-align{
    text-align: center;
}
.project-name{
    color: #FFFFFF;
    background-color: #37A3C0;
    padding-right: 20px;
    text-align: center;
    height: 30px;
    font-size: 15pt;
    font-weight: bold;
}

form 
{
    margin-bottom: 0px;
    font-size: 10pt;
}

#containertemplate
{
    width:100%;
    height:100%; 
    margin-left: auto;
    margin-right: auto;
    vertical-align:middle; 
    display:table;
    background-color:#FFFFFF;
    text-align:center;
}

#innercontainer
{
    display:table-cell;
    margin-left: auto;
    margin-right: auto;
}

#containerleftmenu
{
    width:250px; 
    height:100%; 
    margin-top:5px; 
    vertical-align:middle; 
    display:table; 
    background-color:#FFFFFF;
    text-align:left;
}

#maincontent
{
    /*width:800px;
    height:600px;*/
    width:902px;
    height: auto;
    position:relative;
    margin-top:5px;
    margin-left:10px;
    border-color:#0b5a9f;
    background-color:#FFFFFF;
    border-width:thin;
    border-style:solid;
    overflow-y:auto;
}

#logopane
{
    width:100%;
    height: 55px;
    background-color: #98F5FF;
}

#logo
{
    height:55px;
    width:100px;
    color: #FFFFFF;
}

#rightpane
{
    width:500px; 
    height:55px; 
    margin-top: -55px; 
    float:right; 
    margin-right: 10px;
    padding-top: 15px;
    padding-right: 15px;
    vertical-align: middle;
    text-align: right;
}

.menutitle 
{
    cursor:pointer;
    background-color: #98F5FF; 
    color:#0b5a9f;
    width:250px;
    padding:5px;
    text-align:left;
    font-size:1em;
    font-weight:bold;
    border:1px solid #0b5a9f;
}
        
.submenu
{
    height:55px; 
    cursor:pointer; 
    font-weight: bold;
    text-decoration: none;
    float:left; 
    position:relative; 
    padding: 2px;    
}

.linkmenu
{
    font-size:1.0em; 
    font-weight:bold; 
    text-decoration:none;
    color:#000000; 
    cursor:pointer; 
    margin-left:15px;	
    padding:3px;
    width:200px;
}

.linkmenuactive
{
    font-size:1.0em; 
    font-weight:bold; 
    text-decoration:none;
    color:#800517; 
    cursor:pointer; 
    margin-left:15px;	
    padding:3px;
    width:200px;
}

.linksmall
{
    text-decoration: none;
    color:#000000;
}

root { 
    display: block;
}

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
#loginheader
{
    color: #FFFFFF;
    background-color: #37A3C0;
    padding-right: 20px;
    text-align: right;
    height: 30px;
}

#loginheader a, #loginheader a:visited
{
    color: #FFFFFF;
    text-decoration: none;
}

.black_overlay {
   display: none;
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   background-color: black;
   z-index:1001;
   -moz-opacity: 0.8;
   opacity:.80;
   filter: alpha(opacity=80);
}
.white_content {
   display: none;
   position: absolute;
   top: 10%;
   left: 500px;
   width: 500px;
   height: auto;
   padding-bottom: 0px;
   border: solid #000000;
   background-color: white;
   z-index:1002;
   overflow: auto;
   margin-left:-5%;
}

.light-title{
    width: 100%;
    height: 27px;
    background-color: #a7820e;
    top: 0px;
    color: black;
    padding-top: 5px;
    font-weight: bold;
    font-size: 11pt;
    text-align: center;
}

.light-message{
    width: 100%;
    height: auto;
    background-color: #fee394;
    top: 0px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.light-button{
    background-color: #fee394;
    text-align: center;
    padding-bottom: 10px;
}

.light-footer{
    width: 100%;
    height: 20px;
    background-color: #a7820e;
}

.content-page{
    width: 97%;
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 0.8%;
    margin-bottom: 1%;
    height: 420px;
    background-color: #FFFFFF;
}

.table-list{
    border-collapse: collapse;
    width: 100%;
    border: 2px;
    border-style: solid;
    border-color: #FFFFFF;
    font-size: 10pt;
}

.table-list tr th{
    white-space: nowrap;
    width: auto;
    padding: 5px;
    border-color: #FFFFFF;
    font-weight: bold;
    border-style-inner: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    background-color: #f2b523;
    height: 30px;
}

.table-list tr td{
    width: auto;
    white-space: nowrap;
    padding: 3px;
}

.evenrow td{
    white-space: nowrap;
    background-color: #fdeb95;
    border-color: #FFFFFF;
    border-style-inner: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    width: auto;
    height: 30px;
    padding: 3px;
}

.oddrow td{
    white-space: nowrap;
    background-color: #feeffb;
    border-color:  #FFFFFF;
    border-style-inner: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    width: auto;
    height: 30px;
    padding: 3px;
}

.no-record td{
    border: 2px;
    background-color: #F4F4F4;
    border-color:  #FFFFFF;
    border-style-inner: double;
    border-bottom-style: double;
    border-left-style: double;
    border-right-style: double;
    border-top-style: double;
    text-align: center;
    width: auto;
    height: 30px;
}
.form-search{
    float: right;
    /*padding-left: 60px;*/
}

.form-actions {
    float: right;
    width: 100%;
    height: 30px;
}

.form-button{
    float: right;
    width: auto;
}
.form-page{
    float: right;
    width: auto;
    height: 30px;
}

.form-add-account{
    /*width: 100%;*/
    width: 850px;
    padding: 10px;
    clear: both;
    font-size: 10pt;
}

.form-add-account tr{
    width: 100%;
    /*padding: 10px;*/
    clear: both;
}

.form-add-account tr th{
    text-decoration: underline;
    text-align: left;
}


.form-change-status{
    /*width: 100%;*/
    width: 250px;
    padding: 10px;
    clear: both;
    font-size: 10pt;
}

.form-change-status tr{
    /*text-align: center;*/
    width: 100%;
    /*padding: 10px;*/
    clear: both;
}

.form-change-status tr th{
    text-decoration: underline;
    text-align: left;
}

.form-change-password{
    width: 30%;
    padding: 10px;
    clear: both;
    font-size: 10pt;
    margin-left: auto;
    margin-right: auto;
}

.form-change-password tr{
    width: 100%;
    /*padding: 10px;*/
    clear: both;
}

.form-change-password tr th{
    text-decoration: underline;
    text-align: left;
}

a{
    text-decoration: none;
}

.labelboldred
{
    font-weight: bold;
    color: red;
}

.labelbold
{
    font-weight: bold;
}

.labelboldunderline
{
    font-weight: bold;
    text-decoration: underline;
}

input.groovybutton
{
   font-size:12px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight:bold;
   background-color:#009999;
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr='#ff99FFCC',EndColorStr='#ffFFFF99');
   border-style:solid;
   border-color:#009999;
   border-width:3px;
   width: 100px;
}

.search-container{
    height: 40px;
}

.form-view{
    float: left;
}	

.form-add-provider{
    width: 450px;
}

.form-add-provider tr th{
    text-align: left;
    text-decoration: underline;
}

.form-label{
    padding: 5px;
    width: 130px;
}
/* ]]> */

