/* <![CDATA[ */
* 
{
    margin:0;padding:0;
}

body, html, table
{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

/*------------------------------------- CONTAINERS ----------------------------*/
.container{
   position: absolute;
   top: 0%;
   left: 0%;
   width: 99.9%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
}
.content_container{
/*    background-color: #f2b523;*/
    background-color: #e1a60d;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.content-page{
    margin-right: 1%;
    margin-left: 1%;
}
/*------------------------------ END OF CONTAINERS ----------------------------*/




/*------------------------------ MAIN CONTENT ----------------------------------*/
.maincontainer
{
    margin-top: 0.7%;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 1%;
    padding-top: 0.3%;
    width: auto;
    height: auto;
    border: 7px solid #e1a60d;
}
#mainContentBox{
    width:100%;
    height:auto;
    float:left;
}
#mainContentBox .rightContainerTop{
    width:100%;
    height:11px;
    margin:0;
    padding:0;
    float:left;
}
#mainContentBox .rightContainerBody{
    background-color: #f0ecec;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    float:left;
}
#mainContentBox .rightContainerBottom{
    width:100%;
    height:11px;
    padding:0;
    border:0;
    float:left;
}
/*------------------------------ END OF MAIN CONTENT ---------------------------*/



/*----------------------------- LOGO, HEADER AND FOOTER -----------------------------*/
.header{
    background-color: #dedede;
    margin-left: auto;
    margin-right: auto;
    height: 115px;
    width: auto;
}
.company_logo{
    margin-left: 1.2%;
    padding-top: 0.5%;
    width: auto;
}
.project_logo{
    background-color: #a66e0b;
    /*background-color: #a7820e;*/
    margin-left: auto;
    margin-right: auto;
}
/*.footer{
    width:auto;
    color: #FFFFFF;
    padding-left: 0.5%;
    padding-top: 1%;
    height: 30px;
    font-size: 11pt;
    background-color: #a7820e;
}*/
.footerContainer{
    width: auto;
    height: 50px;
    background-color: #e1a60d;
}
.footerContainer_left{
    background:url(../images/footer_left.png) 0 0 no-repeat;
    width:13px;
    height:50px;
    margin: 0px 0 0 0px;
    float:left;
}
.footerContainer_body{
    background:url(../images/footer_body.png) 0 0 repeat-x;
    font: 14px/28px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#000000;
    width:97.5%;
    height:50px;
    margin: 0px 0 0 0px; 
    float:left;
}
.footerContainer_right{
    background:url(../images/footer_right.png) 0 0 no-repeat;
    width:13px;
    height:50px;
    margin: 0px 0 0 0px;
    float:left;
}
/*------------------------------ END OF LOGO, HEADER AND FOOTER ---------------------*/



/*------------------------------ LOGOUT PANEL ----------------------------------*/
.acct{
	width:auto;
	height:52px;
        margin-top: -3.8%;
        margin-right: 1%;
	float:right;
        text-align: center;
}
.acct_left{
	background:url(../images/acctCont_left.png) 0 0 no-repeat;
	width:13px;
	height:52px;
	margin: 0px 0 0 0px;
	float:left;
}
.acct_body{
	background:url(../images/acctCont_body.png) 0 0 repeat-x;
	font: 20px/52px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#FFF;
	width:auto;
	height:52px;
	margin: 0px 0 0 0px;
	padding: 0px 0 0 0;
	float:left;
}
.acct_right{
	background:url(../images/acctCont_right.png) 0 0 no-repeat;
	width:13px;
	height:52px;
	margin: 0px 0 0 0px;
	float:left;
}
/*------------------------------ END OF LOGOUT PANEL ---------------------------*/


/*------------------------------ LOGIN FORM ------------------------------------*/
.login-form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 300px;
    /*background-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;*/
}
/*----------------------------- END OF LOGIN FORM ------------------------------*/



/*----------------------------- LEFT NAVIGATION BOX ----------------------------*/
.leftnavigationcontainer
{
    width: 220px;
    height: auto;
    margin-left: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
}
.leftNavTop{
	background-image:url(../images/leftContainer_top.png);
	width: 216px;
	height:10px;
}
.leftNavBottom{
	background-image:url(../images/leftContainer_bottom.png);
	width: 216px;
	height:11px;
}
.leftNavBody {
	background:url(../images/leftContainer_body.png) repeat-y 0 0;
	clear: both;
	padding: 0px 0 0 0;
	height: auto;
}
/*------------------------ END OF LEFT NAVIGATION BOX --------------------------*/




/*------------------------------ TITLE CONTAINER ------------------------------*/
.titleCont{
	width:100%;
	height:28px;
	margin: 0px 0 10px 8px;
}
.titleCont_left{
	background:url(../images/title_left.png) 0 0 no-repeat;
	width:9px;
	height:28px;
	margin: 0px 0 0 0px;
	float:left;
}
.titleCont_body{
	background:url(../images/title_body.png) 0 0 repeat-x;
	font:Normal 16px/28px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#FFF;
	width:97%;
	height:28px;
	margin: 0px 0 0 0px;
	padding: 0px 0 0 0;
        margin-left: -0.01%;
	float:left;
        font-weight: bold;
}
.titleCont_right{
	background: url(../images/title-right.png) 0 0 no-repeat;
	width:10px;
	height:28px;
	margin: 0px 0 0 0px;
        margin-right: 1%;
	float:left;
}
/*------------------------------ END OF TITLE CONTAINER ------------------------*/




/*-------------------------------- LIGHT BOX ---------------------------------- */
.black_overlay {
   display: none;
   position: absolute;
   top: 0%;
   left: 0%;
   bottom: 0%;
   width: 100%;
   height: 100%;
   background-color: black;
   z-index:1001;
   -moz-opacity: 0.8;
   opacity:.80;
   filter: alpha(opacity=80);
}
.white_content {
   display: none;
   position: absolute;
   top: 10%;
   left: 500px;
   width: 500px;
   height: auto;
   padding-bottom: 0px;
   border: solid #000000;
   background-color: white;
   z-index:1002;
   overflow: auto;
   margin-left:-5%;
}
.light-title{
    width: 100%;
    height: 27px;
    background-color: #a7820e;
    top: 0px;
    color: black;
    padding-top: 5px;
    font-weight: bold;
    font-size: 11pt;
    text-align: center;
}
.light-message{
    width: 100%;
    height: auto;
    background-color: #fee394;
    top: 0px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.light-button{
    background-color: #fee394;
    text-align: center;
    padding-bottom: 10px;

    margin: 0 auto;
    height: 20px;
}
.light-footer{
    width: 100%;
    height: 20px;
    background-color: #a7820e;
}
/*------------------------------ END OF LIGHT BOX ------------------------------*/


/*------------------------------ TABLE CSS -------------------------------------*/
.table-list{
    border-collapse: collapse;
    width: auto;
    border: 2px;
    border-style: solid;
    border-color: #FFFFFF;
    font-size: 10pt;
	clear: both;
}
.table-list tr th{
    white-space: nowrap;
    width: auto;
    padding: 5px;
    border-color: #FFFFFF;
    font-weight: bold;
    border-style-inner: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    background-color: #f2b523;
    height: 30px;
}
.table-list tr td{
    width: auto;
    white-space: nowrap;
    padding: 3px;
}
.evenrow td{
    white-space: nowrap;
    background-color: #fdeb95;
    border-color: #FFFFFF;
    border-style-inner: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    width: auto;
    height: 30px;
    padding: 3px;
}
.oddrow td{
    white-space: nowrap;
    background-color: #fbf4de;
    border-color:  #FFFFFF;
    border-style-inner: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    width: auto;
    height: 30px;
    padding: 3px;
}
.no-record td{
    border: 2px;
    background-color: #F4F4F4;
    border-color:  #FFFFFF;
    border-style-inner: double;
    border-bottom-style: double;
    border-left-style: double;
    border-right-style: double;
    border-top-style: double;
    text-align: center;
    width: auto;
    height: 30px;
}
/*--------------------------- END OF CSS TABLE ---------------------------------*/



/*------------------------------- MISCELLANEOUS --------------------------------*/
.form-search{
    float: right;
}
.form-actions {
    float: right;
    width: 100%;
    height: 30px;
}
.form-button{
    float: right;
    width: auto;
}
.form-page{
    float: right;
    width: auto;
    clear: both;
}
.form-add-account{
    width: 850px;
    padding: 10px;
    clear: both;
    font-size: 10pt;
}
.form-add-account tr{
    width: 100%;
    clear: both;
}
.form-add-account tr th{
    text-decoration: underline;
    text-align: left;
}
.form-change-status{
    width: 300px;
    padding: 10px;
    clear: both;
    font-size: 10pt;
}
.form-change-status tr{
    width: 100%;
    clear: both;
}
.form-change-status tr th{
    text-decoration: underline;
    text-align: left;
}
.form-change-password{
    width: 30%;
    padding: 10px;
    clear: both;
    font-size: 10pt;
    margin-left: auto;
    margin-right: auto;
}
.form-change-password tr{
    width: 100%;
    clear: both;
}
.form-change-password tr th{
    text-decoration: underline;
    text-align: left;
}
a{
    text-decoration: none;
}
.labelboldred
{
    font-weight: bold;
    color: red;
}
.labelbold
{
    font-weight: bold;
}
.label2
{
    font-size: 13px;
}
.labelboldunderline
{
    font-weight: bold;
    text-decoration: underline;
}
input.groovybutton
{
   font-size:12px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight:bold;
   background-color:#009999;
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr='#ff99FFCC',EndColorStr='#ffFFFF99');
   border-style:solid;
   border-color:#009999;
   border-width:3px;
   width: 100px;
}
.search-container{
    height: 40px;
}
.form-view{
    float: left;
}	
.form-add-provider{
    width: 450px;
}
.form-add-provider tr th{
    text-align: left;
    text-decoration: underline;
}
.form-label{
    padding: 5px;
    width: 130px;
}

.center-align{
    text-align: center;
}
form 
{
    margin-bottom: 0px;
    font-size: 10pt;
}
#containertemplate
{
    width:100%;
    height:100%; 
    margin-left: auto;
    margin-right: auto;
    vertical-align:middle; 
    display:table;
    background-color:#FFFFFF;
    text-align:center;
}
#innercontainer
{
    display:table-cell;
    margin-left: auto;
    margin-right: auto;
}
#containerleftmenu
{
    width:250px; 
    height:100%; 
    margin-top:5px; 
    vertical-align:middle; 
    display:table; 
    background-color:#FFFFFF;
    text-align:left;
}
#maincontent
{
    width:902px;
    height: auto;
    position:relative;
    margin-top:5px;
    margin-left:10px;
    border-color:#0b5a9f;
    background-color:#FFFFFF;
    border-width:thin;
    border-style:solid;
    overflow-y:auto;
}
#logopane
{
    width:100%;
    height: 55px;
    background-color: #98F5FF;
}
#logo
{
    height:55px;
    width:100px;
    color: #FFFFFF;
}
#rightpane
{
    width:500px; 
    height:55px; 
    margin-top: -55px; 
    float:right; 
    margin-right: 10px;
    padding-top: 15px;
    padding-right: 15px;
    vertical-align: middle;
    text-align: right;
}
.menutitle 
{
    cursor:pointer;
    background-color: #98F5FF; 
    color:#0b5a9f;
    width:250px;
    padding:5px;
    text-align:left;
    font-size:1em;
    font-weight:bold;
    border:1px solid #0b5a9f;
}     
.submenu
{
    height:55px; 
    cursor:pointer; 
    font-weight: bold;
    text-decoration: none;
    float:left; 
    padding: 2px;    
    border-bottom:solid #c2bfba 5px;
}
.linkmenu
{
    font-size:1.0em; 
    font-weight:bold; 
    text-decoration:none;
    color:#000000; 
    cursor:pointer; 
    margin-left:15px;	
    padding:3px;
    width:200px;
}
.linkmenuactive
{
    font-size:1.0em; 
    font-weight:bold; 
    text-decoration:none;
    color:#800517; 
    cursor:pointer; 
    margin-left:15px;	
    padding:3px;
    width:200px;
}
.linksmall
{
    text-decoration: none;
    color:#000000;
}
root { 
    display: block;
}
#loginheader
{
    color: #FFFFFF;
    background-color: #37A3C0;
    padding-right: 20px;
    text-align: right;
    height: 30px;
}
#loginheader a, #loginheader a:visited
{
    color: #FFFFFF;
    text-decoration: none;
}
.loading{
    display: none;
    /*position: absolute;
    top: 150px;
    left: 650px;*/
    background-image: url("../images/loading.gif");
    width: 64px;
    height: 64px;
    /*float: right;*/
    z-index:1002;
    overflow: auto;
    margin-left:auto;
    margin-right:auto;
}
/*-------------------------------- MISCELLANEOUS -------------------------------*/
.button2A {
    width:240px;
    float: left;
    text-align: right;
    padding-right: 10px;
}
.button2B {
    width:250px;
    float: left;
    text-align: left;
}
/* ]]> */

