/* 
    Document   : style
    Created on : 02 20, 12, 10:05:31 AM
    Author     : sheryl
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
BODY {
    color: #000000;
    font-family: Verdana;
    font-size: 0.7em;
}

#content
{    
    font-size: 10px;
    margin-left: 30px;
}

root { 
    display: block;
}

.parameter
{
    background-color: #dcdcdc;
    border-right:  2px solid white;
}
.value
{
    background-color: #dcdcdc;       
}

.table 
{
    border: 1px solid #dcdcdc;
    font-family: Verdana;
    border-collapse: collapse;
    font-size: 11px;
}

.button {
    background-color: #DCDCDC;
    border-color: #CCCCCC #666666 #666666 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 1em;
}

h2 {
    border-top: 1px solid #003366;
    color: #003366;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-top: 25px;
}

.listAll
{
    margin-left: -15px;
}

.heading1 {
    background-color: #003366;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: -30px;
    margin-top: 0;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-top: 10px;
    width: 105%;
}

.placeholder
{
    color:darkblue;
}

pre {
    background-color: #E5E5CC;
    border: 1px solid #F0F0E0;
    font-family: Courier New;
    font-size: x-small;
    margin-top: -5px;
    padding: 5px;
}

.input
{
    font-size: 11px;
    
}

/*lighbox*/
.white_content 
{
    display: none;
    position: absolute;
    top: 10%;
    left: 500px;
    width: 500px;
    height: auto;
    padding-bottom: 0px;
    border: solid #CCC;
    background-color: white;
    z-index:1002;
    overflow: auto;
    margin-left:-5%;
}
 .light-title{
    width: 100%;
    height: 27px;
    background-color: #a7820e;
    top: 0px;
    color: black;
    padding-top: 5px;
    font-weight: bold;
    font-size: 11pt;
    text-align: center;
}
.light-message
{
    width: 100%;
    height: auto;
    background-color: #E5E5CC;
    top: 0px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.light-button
{
    background-color: #E5E5CC;
    text-align: center;
    padding-bottom: 10px;
    margin: 0 auto;
    height: 20px;
}
.light-footer
{
    width: 100%;
    height: 20px;
    background-color: #a7820e;
}
/*end of lightbox*/